<a href="https://colab.research.google.com/github/MIRYALASAITEJA/23CSBTB30/blob/main/LIST_ASSIGNMENT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Implement Basic Data Structures using Numpy, Pandas poweroff

Lists
Arrays
Identify their type using type()
Perform mathematical operations on these datasets created - multiplication, division,
Combine text with Numpy fuction to generate a textual output - ‚ÄùAddition of Two: array1 +array 2
Implement np.sin(), log(), log2(), np.exp())

In [ ]:
import numpy as lst

In [1]:
lst1=(2,4,6,8,10)
print(lst1)
print(type(lst1))

(2, 4, 6, 8, 10)
<class 'tuple'>

In [2]:
lst2={4:5,8:9,7:6,85:58}
print(lst2)
print(type(lst2))

{4: 5, 8: 9, 7: 6, 85: 58}
<class 'dict'>

In [4]:
lst4={1,"America",2,"united Kingdom",3,"Germany"}
print(lst4)
print(type(lst4))

{1, 2, 3, 'America', 'united Kingdom', 'Germany'}
<class 'set'>

In [3]:
lst3=[8,16,24,32,40]
print(lst3)
print(type(lst3))

[8, 16, 24, 32, 40]
<class 'list'>

In [5]:
lst5="Welcome to the world of Aritificial Intelligence and machine learning"
print(lst5)
print(type(lst5))

Welcome to the world of Aritificial Intelligence and machine learning
<class 'str'>

In [6]:
lst6=3.147654321
print(lst6)
print(type(lst6))

3.147654321
<class 'float'>

In [7]:
lst7 = 6+7j+8
print(lst7)
print(type(lst7))

(14+7j)
<class 'complex'>